[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"
tzlocal = "*"
gunicorn = "*"
flask-httpauth = "*"
flask-assets = "*"
pika = "*"
redis = "*"
werkzeug = "*"
census-rm-qid-batch-runner = {editable = true,git = "https://github.com/ONSdigital/census-rm-qid-batch-runner",ref = "v1.8.0"}
census-rm-sample-loader = {editable = true,git = "https://github.com/ONSdigital/census-rm-sample-loader",ref = "v2.1.0"}

[dev-packages]
pytest = "*"
"flake8" = "*"
codecov = "*"
pytest-cov = "*"
requests-mock = "*"

[requires]
python_version = "3.7"
